# Mission to Mars

## Step 1 - Scraping

### NASA Mars News

In [6]:
#Importing dependencies
from bs4 import BeautifulSoup as bs
from bs4 import BeautifulSoup
from splinter import Browser
from selenium import webdriver
import os
import pandas as pd
import time

In [7]:
#pointing to the directory where chromedriver exists
executable_path = {"executable_path": "C:\\Users\\Essi\\Downloads\\chromedriver_win32\\chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [8]:
#visiting the page
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [9]:
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [10]:
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: Mars Now
Para: NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

### JPL Mars Space Images - Featured Image

In [11]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit"
browser.visit(url_image)

In [12]:
# HTML object
img_html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(img_html, 'html.parser')

#full_click=browser.find_by_id('full_image')
#full_click.click()

# Retrieve Featured Mars Image url from style tag 
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

# Put the website url together with the features image url
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url

# Display full link to featured image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg'

### Mars Facts

In [13]:
url_facts = "https://space-facts.com/mars/"

In [14]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

In [17]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [18]:
#Getting the base url
hemisphere_base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_hemisphere))
print(hemisphere_base_url)

NameError: name 'urlsplit' is not defined

In [ ]:
# Access and visit the USGS Astrogeology site
mars_hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemis_url)
xpath = '//div//a[@class="itemLink product-item"]/img'

# Use splinter to Click the image to bring up the full resolution image
results = browser.find_by_xpath(xpath)

# Initiate hemisphere_image_urls list
hemisphere_image_urls = []

# Loop over results to get image data
for i in range(len(results)):
    img = results[i]
            
    img.click()
    
    # Scrape the browser into soup and use soup to find the full resolution image of mars
    # Save the image url to a variable called `img_url`
    mars_usgs_html = browser.html
    soup = BeautifulSoup(mars_usgs_html, 'html.parser')
    partial_img_url = soup.find("img", class_="wide-image")["src"]
    
    img_url = 'https://astrogeology.usgs.gov/' + partial_img_url
    
    # Scrape the browser into soup and use soup to find the title of the image
    # Save the image's title to a variable called `img_title`
    img_title = soup.find('h2', class_="title").text
    
    # Get the data into a dictionary
    img_dict = {
        'img_url': img_url,
        'img_title': img_title
    }
    # Append image dictionaries to the list
    hemisphere_image_urls.append(img_dict)

    browser.back()
    results = browser.find_by_xpath(xpath)
    i = i + 1
    
# Display hemispheres' images list
hemisphere_image_urls

![Syrtis Major Hemisphere Enhanced|50%](https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg)

![Cerberus Hemisphere Enhanced](https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg)

![minipic](https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg)

![Valles Marineris Hemisphere Enhanced](https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg)